batch-example/src/main/mule/cashe-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61cd2aa2-df78-45a1-8d5a-d7e30ee97190" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="52db5736-d816-4291-907b-e6156b1b8071" keyGenerationExpression="#[vars.caseType]" >
		<os:private-object-store persistent="false" entryTtl="60" entryTtlUnit="MINUTES" />
	</ee:object-store-caching-strategy>
	<flow name="cashe-demoFlow" doc:id="6f3b3ce8-83ae-4cf6-87bb-2dc3e2910175" >
		<http:listener doc:name="Listener" doc:id="00e858ac-d65a-46a7-a00f-b7a039a45920" config-ref="HTTP_Listener_config" path="types"/>
		<set-variable value="#[attributes.queryParams.caseType]" doc:name="Set Variable" doc:id="bb78ff63-42f2-473b-a0f1-7de3b5867e17" variableName="caseType"/>
		<ee:cache doc:name="Cache" doc:id="be334bb4-1239-4883-816c-8cf0d06c5415" cachingStrategy-ref="Caching_Strategy">
			<db:select doc:name="Select CVD_CASE_TYPES" doc:id="7513d349-3328-4df7-abe6-fdc452beab1e" config-ref="Database_Config">
			<db:sql><![CDATA[select CASE_TYPE_ID, CASE_TYPE from CVD_CASE_TYPES where CASE_TYPE = :CASE_TYPE]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	"CASE_TYPE": vars.caseType
}]]]></db:input-parameters>
		</db:select>
			<logger level="INFO" doc:name="Logger" doc:id="fde6a235-dc0b-4d0f-aed6-406a5a8b4b66" message='#["Fetched from database"]'/>
		</ee:cache>
		<ee:transform doc:name="Set Response" doc:id="d777fe02-780f-4a63-96e8-62d47d9ea23c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"caseType": payload[0].CASE_TYPE,
	"caseTypeId": payload[0].CASE_TYPE_ID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
